<p class="text-p-gold font-bold">Présentation d'Apyclic</p>
<p>
    Apyclic est une entreprise spécialisée dans la vente et la réparation de matériel informatique pour les particuliers et les professionnels.
</p>
<p>
    Apyclic propose trois services différents, chacun visant un type de clientèle spécifique :
</p>
<p>
    <ul class="list-disc pl-5 mt-2">
        <li><strong>Apyclic La Boutique :</strong> Services de réparations et de ventes directement au point de vente de l’entreprise situé à Coulange-Les-Nevers. (58 Nièvre)</li>
        <li><strong>Apyclic Services :</strong> Services de l’entreprise directement chez les clients via un service d’aide à la personne.</li>
        <li><strong>Apyclic Professionnels :</strong> Servives spécialisée dans les demandes des professionnels. En se déplaçant sur site :
            <ul class="list-disc pl-5 mt-2">
                <li>Diagnostiquer les pannes.</li>
                <li>Effectuer les réparations nécessaires.</li>
                <li>Conseiller les équipements à choisir.</li>
                <li>Installer les équipements dans l'entreprise.</li>
            </ul>
        </li>
    </ul>
</p>
<p class="text-p-gold font-bold">Mes missions :</p>
<p>
    Ce stage est le premier stage que j'ai effectué durant mon cursus universitaire. Il prend place lors de ma deuxième année de BUT Informatique.
</p>
<p>
    Durant ce stage, j'ai eu l'opportunité de travailler sur un projet consistant dans le développement d'une nouvelle version
    d'un de leurs outils internes de gestion des stocks.
</p>
<p>
    Plus précisément, l'outil a pour but de suivre l'évolution des différentes pièces utilisées dans les préstations de l'entreprise via leur numéro de série.
</p>
<p>
    L'outil existant était devenu trop lent et obsolète, c'est pourquoi j'ai été chargé de développer une nouvelle version en utilisant des technologies plus modernes 
    ainsi qu'une interface utilisateur améliorée comportant de nouvelles fonctionnalités.
</p>
<p>
    Ce stage m'a permis de mettre en pratique mes connaissances en développement logiciel ainsi qu'en gestion de projet.
</p>
<p class="text-p-gold font-bold">Technologies utilisées :</p>
<p>
    <ul class="list-disc pl-5 mt-2">
        <li><strong>Langages :</strong> C#, XML </li>
        <li><strong>Frameworks :</strong> .NET</li>
        <li><strong>Base de données :</strong> MySQL</li>
        <li><strong>Outils :</strong> Git, Visual Studio, Visual Paradigm (diagrammes UML), Figma (Maquettage)</li>
    </ul>
</p>