<p class="text-p-gold font-bold">Présentation du Bureau des Etudiants</p>
<p>
    Le Bureau des Etudiants (BDE) est une association étudiante qui a pour objectif de représenter les étudiants, d'organiser des événements et de favoriser la vie étudiante au sein du BUT Informatique de Nevers.
</p>
<p class="text-p-gold font-bold">Mes contributions :</p>
<p>
    Lors de ma première année de BUT Informatique, j'ai eu l'opportunité de rejoindre le BDE en tant que bénevole.
    J'ai donc participé à l'organisation de plusieurs événements destinés aux étudiants et personnels du campus.

    Il s'agit notamment de :
    <ul class="list-disc pl-5 mt-2">
        <li>La journée porte ouverte</li>
        <li>Soirées détentes (Laser Game, bowling, ...)</li>
    </ul>
</p>
<p>
    Cependant, lors de ma deuxième année, j'ai pris davantage de responsabilités en intégrant le bureau en tant que trésorier.
    Cette promotion m'a permis de gérer les finances de l'association, de planifier le budget des événements et de veiller à la bonne utilisation des fonds.
</p>
<p>
    Avant d'intégrer cette association, j'avais déjà eu l'occasion de faire du bénévolat dans d'autres associations. 
    Cependant, le poste de trésorier au sein du BDE m'a offert de l'expérience en matière de gestion financière et d'organisation d'événements à l'échelle d'une association labélisée étudiante.
</p>