<p class="text-p-gold font-bold">Présentation de l'IUT de Dijon-Auxerre-Nevers :</p>
<p>
    L'Institut Universitaire de Technologie de Dijon-Auxerre-Nevers est un établissement d'enseignement supérieur en France, rattaché à l'Université de Bourgogne Europe.
</p>
<p>
    Il propose des formations technologiques de niveau Bac+3 à Bac+8, incluant le Bachelor Universitaire de Technologie (BUT) en Informatique.
</p>
<p>
    L'IUT possède trois campus situés à Dijon, Auxerre et nouvellement Nevers.
</p>
<p class="text-p-gold font-bold">Mon parcours au sein du BUT Informatique :</p>
<p>
    J'ai intégré le BUT Informatique à l'IUT de Dijon-Auxerre-Nevers en 2022 sur le campus de Nevers, ce BUT propose uniquement le parcours A, qui met l'accent sur le développement d'applications et la gestion de projets informatiques.
</p>
<p>
    Le BUT Informatique est structuré en six semestres. Dans chaque semestre, différentes Unités d'Enseignement (UE) sont abordées, couvrant divers aspects de l'informatique tels que la programmation, les bases de données, les réseaux, l'administration système, le développement web et logiciel, ainsi que la gestion de projets informatiques.
</p>
<p>
    Durant ces trois années, j'ai acquis des compétences solides en programmation, en gestion de bases de données, en administration système et en développement web et logiciel.
    J'ai également eu l'opportunité de travailler sur divers projets pratiques, ce qui m'a permis de mettre en application les connaissances théoriques acquises en cours.
</p>
<p>
    Les projets pratiques sont répertoriés sous le nom de "SAE" (Situations d'Apprentissage en Entreprise) et chaque Unité d'Enseignement (UE) comporte une SAE pour chacun des semestres.
    Les notes des SAE comptent pour 40 % de la note finale de chaque UE.
</p>
<p>
    En plus des cours théoriques et des projets pratiques, j'ai également effectué un stage d'études de deux mois en entreprise durant ma deuxième année ainsi qu'une alternance lors de ma troisième année, ce qui m'a permis de découvrir le monde professionnel et d'appliquer mes compétences dans un contexte réel.
</p>
<p class="text-p-gold font-bold">Compétences acquises :</p>
<p>
    <ul class="list-disc pl-5 mt-2">
        <li>Maîtrise de plusieurs langages de programmation tels que Python, JavaScript, PHP, HTML/CSS, SQL, C, C# et C++.</li>
        <li>Compétences en gestion de bases de données relationnelles (MySQL, PostgreSQL) et non relationnelles (MongoDB).</li>
        <li>Connaissances en administration système et réseaux.</li>
        <li>Expérience en développement web (front-end et back-end) et en développement logiciel.</li>
        <li>Compétence dans plusieurs frameworks : React, NextJS, .NET</li>
        <li>Capacité à travailler en équipe et à gérer des projets informatiques.</li>
    </ul>
</p>