<p class="text-p-gold font-bold">Présentation du comité jeunesse :</p>
<p>
    Le comité jeunesse est une association locale qui vise à promouvoir les activités et l'engagement des jeunes dans la commune du Mérévillois.
    Il organise divers événements, ateliers et rassemblements pour encourager la participation des jeunes à la vie communale.
</p>
<p class="text-p-gold font-bold">Mes contributions :</p>
<p>
    Pendant mon impliquation au sein du comité, j'ai participé à beaucoup d'evénements organisés par l'association.
</p>
<p>
    Cependant, l'un des événements les plus marquants auxquels j'ai participé était la réalisation d'un court métrage avec un réalisateur diplomé de l'école du Cours Florant.
</p>
<p>
    Durant la réalisation de ce court métrage, j'ai eu l'opportunité de découvrir les différentes étapes de la production cinématographique et de la scénarisation au tournage.
</p>
<p>
    Cette expérience a ouvert en moi un intérêt pour le domaine de la production audiovisuelle et m'a permis d'en aprrendre davantage sur les coulisses de la création d'un film.
</p>
<p>
    Ce court métrage a ensuite été présenté lors d'une soirée spéciale organisée par la ville d'Etampes (ville voisine du Mérévillois) pour promouvoir les talents locaux et encourager la participation des jeunes dans des projets créatifs.
</p>