<p class="text-p-gold font-bold">Présentation du Comité des fêtes du Mérévillois</p>
<p>
    Le Comité des fêtes du Mérévillois est une association locale qui a pour mission d'organiser des événements et des activités festives pour la commune du Mérévillois tout au long de l'année.
</p>
<p>
    L'un des événements le plus importants organisés par le comité des fêtes est la foire au cresson. Lors de cette foire annuelle, différents exposants peuvent alors proposer leurs produits.
</p>
<p class="text-p-gold font-bold">Mes contributions :</p>
<p>
    En tant que bénévole dans cette association depuis de nombreuses années, j'ai eu plusieurs fois l'opportunité de contribuer au bon déroulement des événements organisés par le comité des fêtes.
</p>
<p>
    Cela peut aller de la mise en place des installations, au service lors des repas, à la surveillance de certaines activités, ou encore au nettoyage et au rangement après les événements.
</p>
<p>
    Mon engagement au sein du Comité des fêtes du Mérévillois m'a permis de rencontrer de nouvelles relations et m'impliquer dans la vie de la commune du Mérévillois.
</p>