<p>
    Crypta Dvisor est une application web développée dans le cadre d'un projet d'étude de génie logiciel avancé pour le master ILSEN
</p>
<p>
    L'application vise à fournir des conseils et des analyses sur les investissements en cryptomonnaies. Elle permet aux utilisateurs de suivre les tendances du marché, de recevoir des alertes personnalisées 
    et d'accéder à des recommandations basées sur des algorithmes de calculs comme la moyenne simple mobile ainsi que la regression linéaire.
</p>
<p>
    Elle permet également d'effectuer des simulations d'investissements via des portefeuilles virtuels et de regler des alertes sur les variations de prix des cryptomonnaies pour en être informer par email.
</p>
<p>
    Cette application a été réalisée en utilisant Express.JS pour le backend et React pour le frontend. 
    Concernant le déploiment et la gestion de projet, des outils tels que Docker, Vitest et SonarCloud combiné à une CICD sur GitHub Actions ont été mis en place pour assurer un déploiement continu et une gestion efficace des versions.
</p>
<p>
    L'outil de gestion de projet GitHub Projects a été utilisé pour organiser les issues en différentes sprints et suivre l'avancement du projet via des tableaux Kamban.
</p>
<p>
    Autour de ce projet, une partie de monitoring a également été mise en place via Prometheus et Grafana pour surveiller les performances de l'application et assurer sa disponibilité.
</p>
<p>
    Enfin, un système automatisé de backup de la base de données ainsi que de récupération de données de cryptomonnaies a été implémenté via des scripts pythons via la bibliothèque Celery et l'outil Redis.
</p>
<p class="text-p-gold font-bold">Images :</p>
<img src="/Portfolio/images/project-images/Cryptadvisor-login-screen.png" alt="Capture d'écran de la page de connexion de Crypdavisor" class="my-4 rounded-lg shadow-md" />
<img src="/Portfolio/images/project-images/Cryptadvisor-alerts-management.png" alt="Capture d'écran de la page de gestion des alertes de Crypdavisor" class="my-4 rounded-lg shadow-md" />