<p>
    L'univers du ferroviaire m'a fasciné depuis mon plus jeune âge.
</p>
<p>
    J'ai toujours été captivé par ce type de transport, que ce soit par les trains eux-mêmes, leur fonctionnement, ou encore l'infrastructure qui les entoure.
</p>
<p>
    Cette passion s'est renforcée au fil des années, notamment grâce à l'arrivé des systèmes de conduites automatisées que l'on peut trouver sur certaines lignes de métro modernes.
    Mais également grâce à la complexité et la précision requise pour assurer la sécurité et l'efficacité du transport ferroviaire.
</p>
<p>
    Plus tard, j'ai également participé avec mon entourage à la construction de maquettes ferroviaires.
</p>
