<p class="text-p-gold font-bold">Présentation de Gustave Roussy :</p>
<p>
    Gustave Roussy est un centre de lutte contre le cancer de renommée internationale situé en France. 
</p>
<p>
    Fondé en 1926, il est l'un des principaux établissements de recherche et de traitement du cancer en Europe. 
</p>
<p>
    Gustave Roussy se distingue par son approche multidisciplinaire, combinant la recherche scientifique, 
    les soins cliniques et l'innovation technologique pour offrir des traitements avancés aux patients atteints de cancer.
</p>

<p class="text-p-gold font-bold">Mes missions :</p>
<p>
    Cette alternance prend place lors de ma troisième année de BUT Informatique.
</p>

<p>
    Durant cette période, j'ai été chargé de plusieurs missions au sein du département informatique de Gustave Roussy.
</p>
<p>
    Dans de plus amples détails, j'ai travaillé sur le développement et le maintien en condition opérationnelle du système d'information décisionnel (SID) de l'hôpital.
</p>
<p>
    L'une de mes première missions a été d'ajouter les données issues du service de biogénétique au SID pour permettre un meilleur suivi des patients et une analyse plus approfondie des données médicales.
    (traitement de gros volumes de données cycliquement)
</p>
<p>
    Cette mission a pour but de fournir des rapports personnalisable aux personnel du service de biogénétique a intervale régulier.
    (envoies par mail automatique, accès via une interface web)
</p>
<p>
    La seconde mission qui m'a été confiée consistait à préparer la campagne d'entretiens annuel d'évaluation pour le personnel médical.
</p>
<p>
    Le but de cette mission était de suivre une évolution dans les processus du service des ressources humaines médicale pour permettre l'intégration des données dans le nouveau logiciel via export des données du SID sous forme de fichiers CSV.
</p>
<p>
    Enfin, Une troisième mission m'a été attribuée, qui elle, consistait à intégrer les données du pôle d'enseignement de Gustave Roussy dans le SID.
</p>
<p>
    Cette mission ressemble à la première mission dans les finalitées voulues. Cependant, elle nécéssite une approche différente dû aux différents logiciels utilisés par le pôle d'enseignement.
    La difficulté principale de cette mission réside dans le fait de faire communiquer des données qui proviennent de sources différentes et qui n'ont pas forcément de liens prévues entres elles.
</p>
<p>
    (Par exemple, des données anonimisées depuis l'un des logiciels utilisés par le pôle d'enseignement doivent être reliées à des données identifiées provenant du logiciel de gestion des étudiants)
</p>
<p class="text-p-gold font-bold">Technologies utilisées :</p>
<p>
    <ul class="list-disc pl-5 mt-2">
        <li><strong>Langages :</strong> SQL, Scripting</li>
        <li><strong>Base de données :</strong> Oracle</li>
        <li><strong>Outils :</strong> Microsoft SQL Studio, SAP Business Object, SAP ETL</li>
    </ul>
</p>