<p>
    J'ai découvert l'informatique durant ma seconde année de lycée technologique, où j'ai eu l'occasion d'apprendre les bases de la programmation et du développement web.
</p>
<p>
    Dès ce moment là, j'ai été fasciné de voir ce que l'on pouvait créer avec juste des 0 et des 1 organisé en lignes de code.
</p>
<p>
    Plus tard, lors de mes études supérieures en BUT Informatique, j'ai eu naturellement un attrait plus prononcé pour les technologies du web, tant du côté front-end (interface utilisateur) que back-end (serveur et base de données).
</p>
<p>
    Cependant, l'univers de l'ingénierie logicielle m'intéresse également beaucoup, notamment en ce qui concerne le développement d'applications et la gestion de projets informatiques.
</p>