<p class="text-p-gold font-bold">Présentation du Lycée Geoffroy St-Hilaire :</p>
<p>
    Le Lycée Geoffroy St-Hilaire est un établissement d'enseignement secondaire situé à Etampes, en Essone (91).
    Il propose une variété de filières, y compris des filières et générales et technologiques telles que la série STI2D (Sciences et Technologies de l'Industrie et du Développement Durable).
</p>

<p class="text-p-gold font-bold">Mon parcours au lycée :</p>
<p>
    J'ai intégré le Lycée Geoffroy St-Hilaire en 2019 pour y suivre une formation en BAC Technologique, série STI2D, que j'ai complété en 2022.
</p>
<p>
    Durant la seconde, j'ai suivi l'option "Création et innovation technologiques" (CIT), qui m'a permis de développer des compétences en conception et en innovation dans le domaine technologique.
    C'est d'ailleurs lors de cette année que j'ai écrit mes première lignes de code (HTML/CSS) pour la création d'un site web simple.
</p>
<p>
    En première et terminale, j'ai suivi l'option "Innovation technologique et éco-conception" (ITEC), qui m'a permis d'approfondir mes connaissances en conception de systèmes technologiques et mécaniques.
</p>
<p>
    Au cours de ces années, j'ai eu l'opportunité de travailler sur divers projets technologiques, ce qui m'a permis de développer des compétences pratiques en ingénierie et en résolution de problèmes.
</p>
<p class="text-p-gold font-bold">Compétences acquises :</p>
<p>
    <ul class="list-disc pl-5 mt-2">
        <li>Conception assistée par ordinateur (CAO) avec des logiciels tels que SolidWorks.</li>
        <li>Programmation de base en HTML/CSS pour le développement web.</li>
        <li>Compréhension des principes de l'éco-conception et du développement durable dans le contexte technologique.</li>
        <li>Travail en équipe et gestion de projets technologiques.</li>
    </ul>
</p>