<p class="text-p-gold font-bold">Présentation de l'Université d'Avignon:</p>
<p>
    L'Université d'Avignon est un établissement d'enseignement supérieur situé à Avignon, en France.
    Elle propose une variété de programmes de formation, y compris des masters spécialisés dans divers domaines.
</p>
<p>
    L'université possède deux campus principaux : le campus Hannah Arendt au centre ville, qui accueille la majorité des formations, et le campus Jean-Henri Fabre situé sur l'Agroparc d'Avignon, dédié aux sciences et technologies.
</p>
<p>
    C'est dans le CERI (Centre d'enseignement et de recherche en informatique) que je poursuis mon Master ILSEN (Ingénierie du Logiciel de la Société Numérique).
</p>
<p class="text-p-gold font-bold">Mon parcours dans ce master :</p>
<p>
    Je suis actuellement en première année du Master ILSEN, qui se déroule sur deux ans.
</p>
<p>
    Ce master met l'accent sur le développement de compétences avancées en ingénierie logicielle, en gestion de projets informatiques, en architecture des systèmes d'information, ainsi qu'en technologies émergentes telles que l'intelligence artificielle.
</p>
<p>
    Lors de cette première année, j'ai acquis des connaissances approfondies dans divers domaines de l'informatique, notamment le développement web avancé, le DevOps, la virtualisation, et la gestion de projets agiles.
</p>
<p>
    J'ai également eu l'opportunité de travailler sur des projets pratiques en équipe ou en solo, ce qui m'a permis de mettre en application les concepts appris en cours.
</p>
<p>
    Un premier projet important a pris place dans le cadre du Génie Logiciel Avancé, où j'ai développé une application web basée sur une analyse de cryptomonnaies.
    Ce projet utilise le principe du DevOps avec notamment une CICD pour automatiser les tests et le déploiement de l'application.
    Il comprend également une partie monitoring pour suivre les performances de l'application en temps réel.
</p>
<p class="text-p-gold font-bold">Compétences acquises :</p>
<p>
    <ul class="list-disc pl-5 mt-2">
        <li>Maîtrise des concepts avancés en ingénierie logicielle et en gestion de projets informatiques.</li>
        <li>Compétences en développement web avancé, incluant les frameworks modernes et les bonnes pratiques de développement.</li>
        <li>Connaissances en DevOps, virtualisation, et gestion des infrastructures informatiques.</li>
        <li>Expérience pratique dans la conception et le développement d'applications logicielles complexes.</li>
</p>