<p>
    MerchVentory est une application destinée à la gestion des stocks
    et système de réservation et pré-commandes pour les groupes de
    musiques.
</p>
<p>
    Réalisé en PHP avec Symfony et SQL pour la base de données,
    l'application permet aux groupes de musique de mettre en
    vente leurs produits dérivés sur l'application et gérer leurs
    stocks directement depuis l'application.
</p>
<p>
    Les clients peuvent se rendre sur le site et précommander depuis
    l'application. Une fois la précommande réalisée, le client
    obtient un QR Code qu'il montre au gestionnaire du groupe
    pour terminer la commande.
</p>
<p>
    MerchVentory permet également de consulter les prochaines dates de
    concerts des groupes via une carte montrant l'endroit, la
    date de spectacle ainsi que les groupes qui y participent.
</p>
<p>
    Pour contrôler tout ceci, un système de compte avec des rôles est
    présent pour assurer une administration dans l'entièreté du
    site.
</p>
<p class="text-p-gold font-bold">Images :</p>
<img src="/Portfolio/images/project-images/MerchVentoryLoginPage.png" alt="Capture d'écran de la page de connexion de MerchVentory" class="my-4 rounded-lg shadow-md" />
<img src="/Portfolio/images/project-images/MerchVentoryMainPage.png" alt="Capture d'écran de la page principale de MerchVentory" class="my-4 rounded-lg shadow-md" />