<p>
    Depuis maintenant de nombreuses années, je suis instrumentiste confirmé.
</p>
<p>
    J'ai commencé la musique à l'âge de 10 ans en intégrant l'école de musique de ma commune.
    J'y ai appris le solfège ainsi que la pratique de l'instrument de la trompette.
</p>
<p>
    Durant toutes ces années, j'ai pu participer à de nombreux concerts et événements musicaux, que ce soit au sein de l'orchestre de l'école de musique, dans des fanfares locales, ou lors de manifestations culturelles.
</p>
<p>
    L'un des moments les plus marquant de ma pratique musicale a été la participation à un concert d'ouverture d'un concours international de trompette.
    Lors de ce concert, nous étions prêt de 200 musiciens dans l'abbatiale de Rouen, ou j'ai pu jouer aux côtés de musiciens venant du monde entier.
</p>
<p>
    Egalement important dans mon parcours musical, j'ai eu l'opportunité d'intégrer pendant près de trois ans l'horchestre symphonique du Sud Essone.
</p>