<p>
    Ce projet de portfolio personnel a été conçu par moi-même afin de présenter mon parcours académique et professionnel pour offrir une vitrine de mes compétences et réalisations.
</p>
<p>
    Comparé à mon précédent portfolio réalisé avec le framework Next.JS, ce nouveau site utilise Astro, un framework plus léger et performant pour la création de sites web statiques.
</p>
<p>
    Le site est structuré en plusieurs sections, incluant une présentation de mon parcours, mes expériences professionnelles, mes compétences techniques, ainsi que mes centres d'intérêt et engagements bénévoles.
</p>
<p>
    Le code source est disponible sur un référentiel GitHub public
</p>