<p class="text-p-gold font-bold">Présentation d'UniCancer :</p>
<p>
    UniCancer est un groupe de centres de lutte contre le cancer en France, dédié à la recherche, au traitement et à la prévention du cancer.
</p>
<p>
    Cette alternance est la seconde partie de l'alternance effectuée durant ma troisième année de BUT Informatique.
    Elle prend place au sein du site du Kremlin-Bicêtre d'UniCancer, durant la deuxième partie de ma troisième année de BUT Informatique.
</p>
<p class="text-p-gold font-bold">Mes missions :</p>
<p>
    Durant cette période, j'ai pris place au sein de l'équip de développement de la version 7 du projet WeShare.
</p>
<p>
    Le projet WeShare est une plateforme web permettant la gestion et le partage de ressources concernant des études cliniques impliquant toutes les parties prenantes (chercheurs, médecins, patients).
</p>
<p>
    Ma mission principale a été d'intégrer de toutes nouvelles interfaces utilisateurs pour cette version 7.
    Ces interfaces ont été conçues en collaboration avec la designeuse UX/UI de l'équipe, afin d'améliorer l'expérience utilisateur et de moderniser l'apparence de la plateforme.
</p>

<p class="text-p-gold font-bold">Technologies utilisées :</p>
<p>
    <ul class="list-disc pl-5 mt-2">
        <li><strong>Langages :</strong> JavaScript, TypeScript, PHP, SCSS</li>
        <li><strong>Base de données :</strong> Oracle et MySQL</li>
        <li><strong>Outils :</strong> Visual Studio Code, Git, GitLab</li>
    </ul>
</p>