---
import MainLayout from '../layouts/MainLayout.astro';
import Card from '../components/Card.astro';

import MasterContent from '../components/details/MasterILSEN.astro';
import ButInformatique from '../components/details/ButInformatique.astro';
import LyceeTechnologique from '../components/details/LyceeTechnologique.astro';
import Unicancer from '../components/details/Unicancer.astro';
import GustaveRoussy from '../components/details/GustaveRoussy.astro';
import Apyclic from '../components/details/Apyclic.astro';
import BDE from '../components/details/BDE.astro';
import Comite from '../components/details/Comite.astro';
import CJeune from '../components/details/CJeune.astro';
import Ferroviaire from '../components/details/Ferroviaire.astro';
import Informatique from '../components/details/Informatique.astro';
import Musique from '../components/details/Musique.astro';
import Portfolio from '../components/details/Portfolio.astro';
import MercheVentory from '../components/details/Merchventory.astro';
import Cryptadvisor from '../components/details/crypdadvisor.astro';
---

<MainLayout title="Portfolio - Corentin E.L.">
  <div class="max-w-6xl mx-auto space-y-16 pb-20">
    
    <section id="accueil" class="min-h-[24vh] flex flex-col justify-center">
      <h1 class="text-6xl font-black mb-6">Portfolio de <span class="text-p-gold uppercase">Corentin Echivard--Lizaso</span></h1>
      <p class="text-xl text-p-gray-blue max-w-2xl leading-relaxed">
        Bienvenue sur mon portfolio !
      </p>
      <div class="mt-2 px-4 py-2 bg-p-gold/5 border border-p-gold/20 rounded-lg text-lg">
        <span class="text-p-gold font-bold">Cliquez sur une carte pour voir les détails</span>
      </div>

    </section>

    <section id="formations">
      <h2 class="text-2xl font-bold mb-8 flex items-center gap-4">
        Formations <span class="h-px flex-1 bg-p-gray-blue/10"></span>
      </h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <Card id="master" title="Master ILSEN" subtitle="Université d'Avignon" uptext="2025 - Aujourd'hui" variant="gold" image="/Portfolio/images/logos/IUT-Avignon-Logo.png">
          <MasterContent />
        </Card>
        <Card id="but" title="BUT Informatique - Parcours A" subtitle="IUT de Dijon-Auxerre-Nevers" uptext="2022 - 2025" variant="gold" image="/Portfolio/images/logos/IUT-DAN-Logo.jpeg">
          <ButInformatique />  
        </Card>
        <Card id="bac" title="BAC Technologique - Série STI2D" subtitle="Lycée Geoffroy Saint-Hilaire" uptext="2019 - 2022" variant="gold" image="/Portfolio/images/logos/Lycee-GSH-logo.webp">
          <LyceeTechnologique />
        </Card>
      </div>
    </section>

    <section id="experiences">
      <h2 class="text-2xl font-bold mb-8 flex items-center gap-4">
        Expériences professionnelles <span class="h-px flex-1 bg-p-gray-blue/10"></span>
      </h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <Card id="unicancer" title="UniCancer" subtitle="Alternance - Partie 2 - BUT Informatique" uptext="Avril 2025 - Août 2025" variant="gold" image="/Portfolio/images/logos/Unicancer-logo.png">
          <Unicancer />
        </Card>
        <Card id="gustave" title="Gustave Roussy" subtitle="Alternance - Partie 1 - BUT Informatique" uptext="Septembre 2024 - Mars 2025" variant="gold" image="/Portfolio/images/logos/Gustave-Roussy-logo.png">
          <GustaveRoussy />  
        </Card>
        <Card id="apyclic" title="Apyclic informatique" subtitle="Stage d'études - BUT Informatique" uptext="Janvier 2024 - Mars 2024" variant="gold" image="/Portfolio/images/logos/Apyclic-logo.webp">
          <Apyclic />
        </Card>
      </div>
    </section>

    <section id="project">
      <h2 class="text-2xl font-bold mb-8 flex items-center gap-4">
        Projets <span class="h-px flex-1 bg-p-gray-blue/10"></span>
      </h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <Card id="merchventory" title="Merchventory" subtitle="Application de gestion de stock pour artistes musicaux" uptext="PHP 8 - Symfony - MySQL" variant="gold" image="/Portfolio/images/logos/Merchventory-logo.png">
          <MercheVentory />
        </Card>
        <Card id="portfolio" title="Portfolio Personnel" subtitle="Site web de présentation de mon parcours et de mes compétences" uptext="Astro - Tailwind CSS" variant="gold" image="/Portfolio/images/logos/Portfolio-logo.png">
          <Portfolio />
        </Card>
        <Card id="cryptadvisor" title="Crypta Dvisor" subtitle="Projet d'étude de génie logiciel avancé" uptext="Express.JS - React - DevOps" variant="gold">
          <Cryptadvisor />
        </Card>
      </div>
    </section>

    <section id="benevolats">
      <h2 class="text-2xl font-bold mb-8 flex items-center gap-4">
        Bénévolats <span class="h-px flex-1 bg-p-gray-blue/10"></span>
      </h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <Card id="bde" title="Trésorier - BDE ETII" subtitle="Gestion d'une association étudiante">
          <BDE />
        </Card>
        <Card id="comite" title="Bénévole - Comité des fêtes" subtitle="Association évènementielle">
          <Comite />
        </Card>
        <Card id="cjeune" title="Membre - Comité Jeunesse" subtitle="Association évènementielle">
          <CJeune />
        </Card>
      </div>
    </section>

    <section id="interets">
      <h2 class="text-2xl font-bold mb-8 flex items-center gap-4">
        Centres d'intérêts <span class="h-px flex-1 bg-p-gray-blue/10"></span>
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <Card id="ferro" title="Ferroviaire" subtitle="Passion & Modélisme">
          <Ferroviaire />
        </Card>
        <Card id="info" title="Informatique" subtitle="Veille & Projets personnels" >
          <Informatique />
        </Card>
        <Card id="musique" title="Musique" subtitle="Pratique instrumentale & Solfège">
          <Musique />
        </Card>
      </div>
    </section>

  </div>
</MainLayout>